In [1]:
import pandas as pd
%matplotlib inline

death = pd.read_csv("deathdata.csv", sep=',')
#Get the rows in order or which has the highest median age at death
sorted_death = death.sort_values(by='TOTAL MD AGE AT DEATH')
#Contrived, just b/c the last 3 are useless
top_8 = sorted_death.tail(8)
#Get rid of the useless rows
condition = top_8['TOTAL MD AGE AT DEATH'] > -1 #No one dies at -1
top_5 = top_8[condition].copy()

#Reverse order to make them the highest at the top
top_5 = top_5[::-1] #LOOOOOOOOK Maybe comment out, might not need to do this.

#The 5 neighborhoods with the highest median age at death
top_5

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
89,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9
76,NORTH OAKLAND,45.0,70.9,227.0,86.8,279.0,85.6
71,BANKSVILLE,4.0,NaN,247.0,85.5,253.0,85.5
53,POINT BREEZE,13.0,66.7,158.0,85.7,175.0,85.1
68,SQUIRREL HILL NORTH,6.0,75.0,231.0,85.3,242.0,85.0